<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    {%block header %}

        <div id="navigation-bar">
            <nav>
                <ul>
                    <li><a href="#" id="logo"> LOGO </a></li>
                    <li><a href="{{path('app_home')}}"> Home </a></li>
                    <li><a href="{{path('app_login')}}"> Login </a></li>
                    <li><a href="{{path('app_register')}}"> Register </a></li>
                     <li><a href="{{path('app_logout')}}"> Log out </a></li>
                </ul>
            </nav>
        </div>    
    {% endblock%}   
    </head>

    
    <body>
     <br><br><br>
    {% for message in app.flashes("message")%}
                <div class ="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type ="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>

            {%endfor%}  
        {% block body %}
              {% for message in app.flashes("message")%}
                {%for messages in message%}
                    <div class ="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                    <button type ="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                {%endfor%}
            {%endfor%}  
        {% if is_granted('ROLE_USER') %}
          <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="{{path('app_home')}}" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
                </ul>
                <ul class="nav">
                    <li class="nav-item"><a href="{{path('app_logout')}}" class="nav-link link-body-emphasis px-2">Log out</a></li>
                </ul>
            </div> 
        {% else %}
         <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="{{path('app_home')}}" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
                </ul>
                <ul class="nav">
                    <li class="nav-item"><a href="{{path('app_login')}}" class="nav-link link-body-emphasis px-2">Sign in</a></li>
                    <li class="nav-item"><a href="{{path('app_register')}}" class="nav-link link-body-emphasis px-2">Register</a></li>
                </ul>
            </div> 
        {% endif %}
        {% endblock %}
    </body>
    
        <footer class="py-3 my-4">
        {% block footer%}
            
        {% endblock %}   
    </footer>
</html>