<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		{%block header %}
		{% endblock%}
	</head>
	<body class="bg-background relative">
		{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
			<div id="overlay" class="transition-all absolute top-0 lef-0 h-screen w-full bg-black opacity-40 z-10 hidden"> </div>
			<aside id="sidebar" class="h-screen transition-all flex gap-2 w-sidebar bg-white shadow-small flex-col absolute -left-full top-0 z-30 2md:fixed 2md:left-0">
				<div class="flex items-center flex-row-reverse">
				<div id="sidebar-toggle-off" class="rotate-180 2md:hidden text-secondary cursor-pointer">
						<svg  width="60" height="60" viewbox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M22.5 37.5L30 30L22.5 22.5" stroke="#AAAAAA" stroke-width="0.9375"/>
							<path d="M30 37.5L37.5 30L30 22.5" stroke="#AAAAAA" stroke-width="0.9375"/>
						</svg>
				</div>
				</div>
				<div class="flex items-center justify-center">
					<img class="object-contain h-40 w-40 relative" src="/Logo.png"/>
				</div>

				<nav class="flex flex-col justify-between h-full">
					<div>
						<a href="{{path("front_home")}}" class="h-16 w-full flex items-center justify-center relative gap-4 cursor-pointer">
							<span class="h-full absolute top-0 left-0 w-1 {{ app.request.pathinfo is same as(path("front_home")) ? 'bg-primary' : '' }}"></span>
							<div class="flex items-center w-40 gap-3">
								<svg width="25" height="24" viewbox="0 0 25 24" fill="none" class="text-secondary" xmlns="http://www.w3.org/2000/svg">
									<path d="M22.5 22H2.5" stroke="#2A314B" stroke-width="2" stroke-linecap="round"/>
									<path d="M2.5 11.0001L6.56296 7.7498M22.5 11.0001L14.3741 4.49943C13.2784 3.62291 11.7216 3.62291 10.6259 4.49943L9.84398 5.12498" stroke="#2A314B" stroke-width="2" stroke-linecap="round"/>
									<path d="M16 5.5V3.5C16 3.22386 16.2239 3 16.5 3H19C19.2761 3 19.5 3.22386 19.5 3.5V8.5" stroke="#2A314B" stroke-width="2" stroke-linecap="round"/>
									<path d="M4.5 22V9.5" stroke="#2A314B" stroke-width="2" stroke-linecap="round"/>
									<path d="M20.5 9.5V13.5M20.5 22V17.5" stroke="#2A314B" stroke-width="2" stroke-linecap="round"/>
									<path d="M15.5 22V17C15.5 15.5858 15.5 14.8787 15.0607 14.4393C14.6213 14 13.9142 14 12.5 14C11.0858 14 10.3787 14 9.93934 14.4393M9.5 22V17" stroke="#2A314B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M14.5 9.5C14.5 10.6046 13.6046 11.5 12.5 11.5C11.3954 11.5 10.5 10.6046 10.5 9.5C10.5 8.39543 11.3954 7.5 12.5 7.5C13.6046 7.5 14.5 8.39543 14.5 9.5Z" stroke="#2A314B" stroke-width="2"/>
								</svg>

								<p class="text-secondary">Tableau de bord</p>
							</div>
						</a>

						<a href="{{path("front_user_client_index")}}" class="h-16 w-full flex items-center justify-center relative gap-4 cursor-pointer hover:opacity-70">
							<span class="h-full absolute top-0 left-0 w-1 {{ app.request.pathinfo is same as(path("front_user_client_index")) ? 'bg-primary' : '' }}"></span>

							<div class="flex items-center w-40 gap-3">

								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" class="text-secondary" xmlns="http://www.w3.org/2000/svg">
									<path d="M13 20V18C13 15.2386 10.7614 13 8 13C5.23858 13 3 15.2386 3 18V20H13ZM13 20H21V19C21 16.0545 18.7614 14 16 14C14.5867 14 13.3103 14.6255 12.4009 15.6311M11 7C11 8.65685 9.65685 10 8 10C6.34315 10 5 8.65685 5 7C5 5.34315 6.34315 4 8 4C9.65685 4 11 5.34315 11 7ZM18 9C18 10.1046 17.1046 11 16 11C14.8954 11 14 10.1046 14 9C14 7.89543 14.8954 7 16 7C17.1046 7 18 7.89543 18 9Z" stroke="#2A314B" stroke-opacity="0.8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>


								<p class="text-secondary opacity-80">Clients</p>
							</div>
						</a>

						<a href="{{path("front_user_invoice_index")}}" class="h-16 w-full flex items-center justify-center relative gap-4 cursor-pointer hover:opacity-70">
							<span class="h-full absolute top-0 left-0 w-1 {{ app.request.pathinfo is same as(path("front_user_invoice_index")) ? 'bg-primary' : '' }}"></span>
							<div class="flex items-center gap-3 w-40">

								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" class="text-secondary" xmlns="http://www.w3.org/2000/svg">
									<path d="M8.15997 11.205H16.05V13.08H8.15997V11.205ZM8.15997 14.745H16.05V16.62H8.15997V14.745ZM8.15997 7.60498H16.05V9.47998H8.15997V7.60498Z" fill="#2A314B" fill-opacity="0.8"/>
									<path d="M17.01 1.5L14.46 0.42L12.12 1.5L9.615 0.42L7.26 1.5L3.69 0V24L7.26 22.5L9.615 23.535L12.12 22.5L14.46 23.535L17.01 22.5L20.31 24V0L17.01 1.5ZM18.42 21.165L17.04 20.55L14.505 21.585L12.15 20.505L9.63 21.54L7.305 20.505L5.58 21.21V2.79L7.305 3.495L9.63 2.46L12.15 3.495L14.505 2.46L17.04 3.495L18.42 2.88V21.165Z" fill="#2A314B" fill-opacity="0.8"/>
								</svg>


								<p class="text-secondary opacity-80">Factures</p>
							</div>
						</a>

						<a href="{{path("front_user_quote_index")}}" class="h-16 w-full flex items-center justify-center relative gap-4 cursor-pointer hover:opacity-70">
							<span class="h-full absolute top-0 left-0 w-1 {{ app.request.pathinfo is same as(path("front_user_quote_index")) ? 'bg-primary' : '' }}"></span>
							<div class="flex items-center gap-3 w-40">

								<svg width="25" height="24" viewbox="0 0 25 24" class="text-secondary" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5 4L22.5 8V20H2.5V4H18.5ZM18 6H4.5V18H20.5V8.5L18 6ZM7.5 8L7.49998 14.1996L10.3621 10.622L13.419 12.15L15.6655 10.1284L16.3345 10.8716L13.5812 13.3496L10.637 11.878L8.1402 15L18.5 15V16H6.5V8H7.5Z" fill="#2A314B" fill-opacity="0.8"/>
								</svg>


								<p class="text-secondary opacity-80">Devis</p>
							</div>
						</a>
					</div>

					<a href={{path("app_logout")}} class="h-16 w-full flex items-center justify-center relative gap-4 cursor-pointer hover:opacity-70">
						<div class="flex items-center gap-3 w-40">

							<svg width="24" height="25" viewbox="0 0 24 25" fill="none" class="text-delete" xmlns="http://www.w3.org/2000/svg">
								<path d="M15 12.4998H2M2 12.4998L5.5 9.49976M2 12.4998L5.5 15.4998" stroke="#CD2020" stroke-opacity="0.8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M9.00195 7.49976C9.01406 5.32473 9.11051 4.14682 9.87889 3.37844C10.7576 2.49976 12.1718 2.49976 15.0002 2.49976H16.0002C18.8286 2.49976 20.2429 2.49976 21.1215 3.37844C22.0002 4.25712 22.0002 5.67133 22.0002 8.49976V16.4998C22.0002 19.3282 22.0002 20.7424 21.1215 21.6211C20.3531 22.3895 19.1752 22.486 17 22.4981M9.00195 17.4998C9.01406 19.6748 9.11051 20.8527 9.87889 21.6211C10.5202 22.2624 11.4467 22.4357 13 22.4825" stroke="#CD2020" stroke-opacity="0.8" stroke-width="2" stroke-linecap="round"/>
							</svg>


							<p class="text-delete">Se déconnecter</p>
						</div>
					</a>
				</nav>
			</aside>
		{%endif %}
		{% for message in app.flashes("message")%}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
			</div>

		{%endfor%}
			{% if is_granted('ROLE_USER') %}
				<header class="w-full bg-white h-14 relative z-0 flex flex-row-reverse justify-between items-center">
					<div class="flex gap-4 items-center flex-row-reverse">
						<div class="mr-8 flex items-center gap-3">
							<div class="flex items-baseline h-full justify-center flex-col gap-0">
								<p>Jean Arthur</p>
								<p class="text-xs text-gray">{{ app.user.email }}</p>
							</div>
						</div>
						<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.7491 9.70957V9.00497C18.7491 5.13623 15.7274 2 12 2C8.27256 2 5.25087 5.13623 5.25087 9.00497V9.70957C5.25087 10.5552 5.00972 11.3818 4.5578 12.0854L3.45036 13.8095C2.43882 15.3843 3.21105 17.5249 4.97036 18.0229C9.57274 19.3257 14.4273 19.3257 19.0296 18.0229C20.789 17.5249 21.5612 15.3843 20.5496 13.8095L19.4422 12.0854C18.9903 11.3818 18.7491 10.5552 18.7491 9.70957Z" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M7.5 19C8.15503 20.7478 9.92246 22 12 22C14.0775 22 15.845 20.7478 16.5 19" stroke="#AAAAAA" stroke-width="2" stroke-linecap="round"/>
							<circle cx="19" cy="5" r="3.5" fill="#CA20CD" stroke="white"/>
						</svg>
					</div>
					<div class="pl-2 2md:pl-side cursor-pointer 2md:hidden" id="sidebar-toggle">
						<svg width="60" height="60" viewbox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M22.5 37.5L30 30L22.5 22.5" stroke="#AAAAAA" stroke-width="0.9375"/>
							<path d="M30 37.5L37.5 30L30 22.5" stroke="#AAAAAA" stroke-width="0.9375"/>
						</svg>
					</div>
				</header>
			{%endif %}
			<div class="h-full w-full 2md:pl-side">
				<div class="p-8 pt-10 w-full h-full 2md:p-10"> {% block body %}{% endblock %}
					</div>
				</div>
			</body>


			{% block footer%}{% endblock %}
		</body>

		<script>
			const sidebar = document.querySelector("#sidebar");
			const sidebarToggleOn = document.querySelector("#sidebar-toggle");
			const sidebarToggleOff = document.querySelector("#sidebar-toggle-off");
			const overlay = document.querySelector("#overlay")

			sidebarToggleOn.addEventListener("click", () => {
				sidebar.classList.remove("-left-full")
				overlay.classList.remove("hidden")
			});

			sidebarToggleOff.addEventListener("click", () => {
				sidebar.classList.add("-left-full")
				overlay.classList.add("hidden")
			});

		</script>
	</html>
