{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>User client : </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.firstname }}</td>
                <td>{{ client.lastname }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.email }} </td>
                <td>{{ client.phone }}</td>
                {% for userClient in userClients %}
                    <td>    {{ userClient.email}}   </td>
                {%endfor%}
                <td>
                    <a href="{{ path('front_user_client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('front_user_client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('front_user_client_new') }}">Create new</a>
{% endblock %}
