{% extends 'base.html.twig' %}

{% block title %}QuoteLine{% endblock %}

{% block body %}
    <h1>QuoteLine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quote_line.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ quote_line.quantity }}</td>
            </tr>
            <tr>
                <th>UnitPrice</th>
                <td>{{ quote_line.unitPrice }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ quote_line.subtotal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('front_user_quote_line_index') }}">back to list</a>

    <a href="{{ path('front_user_quote_line_edit', {'id': quote_line.id}) }}">edit</a>

    {{ include('Front/user/quote_line/_delete_form.html.twig') }}
{% endblock %}
