{% extends 'base.html.twig' %}

{% block title %}QuoteLine index{% endblock %}

{% block body %}
    <h1>QuoteLine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>UnitPrice</th>
                <th>Subtotal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote_line in quote_lines %}
            <tr>
                <td>{{ quote_line.id }}</td>
                <td>{{ quote_line.quantity }}</td>
                <td>{{ quote_line.unitPrice }}</td>
                <td>{{ quote_line.subtotal }}</td>
                <td>
                    <a href="{{ path('app_admin_user_quote_line_show', {'id': quote_line.id}) }}">show</a>
                    <a href="{{ path('app_admin_user_quote_line_edit', {'id': quote_line.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_user_quote_line_new') }}">Create new</a>
{% endblock %}
