{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
 
    <div class="flex flex-col gap-7">
		<div class="w-full flex items-center justify-between">
			<h1 class="text-4xl text-secondary-500 font-extrabold"> Devis </h1>
   
            </a>
		</div>
        <div>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" id="table-search" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 " placeholder="Rechercher Les factures">
            </div>
        </div>
        <div class="relative overflow-x-auto rounded-3xl border  border-primaryLight shadow-sm">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-white border-b">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-bold">Nom</th>
                        <th scope="col" class="px-6 py-3 font-bold">Crée le </th> 
                        <th scope="col" class="px-6 py-3 font-bold">A regler pour le </th>
                        <th scope="col" class="px-6 py-3 font-bold">Status du Paiement</th>
                        <th scope="col" class="px-6 py-3 font-bold">Prix</th>
                        <th scope="col" class="px-6 py-3 font-bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for quote in quotes %}
                    <tr class="invoice-row bg-white border-b transition-opacity duration-300 ease-in-out">
                        <th scope="row" class="px-6 py-4 font-medium text-secondary-900 whitespace-nowrap">{{ quote.name }}</td>

                        <td class="px-6 py-4 text-secondary-300">{{ quote.createdAt ? quote.createdAt|date('Y-m-d') : '' }}</td>
                        <td class="px-6 py-4 text-secondary-300">{{ quote.expiryAt ? quote.expiryAt|date('Y-m-d') : '' }}</td>
                        <td class="px-6 py-4 text-secondary-300">{{quote.status}}</td>
                        <td class="px-6 py-4 text-secondary-300 w-10p">{{quote.totalAmount }} €</td>
                        <td class="px-6 py-4 text-secondary-300 flex items-center gap-2">
                        <div class="inline-flex rounded-md shadow-sm items-center w-full h-full">
                            <a href="{{ path('back_admin_user_quote_show', {'id': quote.id}) }}" aria-current="page" class="px-4 py-2 text-sm font-medium text-primary-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 ">
                                Détails
                            </a>
                             {{ include('Back/admin/user/quote/_delete_form.html.twig') }}
                        </div>
                        </td>
                    </tr>
                {% else %}
                    <tr class="bg-white border-b">
                        <td colspan="5">Pas de Devis.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
