{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}


{% block body %}
    {{ form_start(form) }}
<br>
        {{ form_row(form.email)}}
        {{ form_row(form.roles)}}
        {{ form_row ( form.plainPassword.first, {
                label: 'Password'
        }) }}
        {{ form_row ( form.plainPassword.second, {
                label: 'Password'
        }) }}
    <button type="submit" class="btn">update User </button>
{{ form_end(form) }}

    <a href="{{ path('front_user_index') }}">back</a>

{% endblock %}
